html {
    font-size: 62.5%;
}

body {
    // font-family: 'Righteous', cursive,Helvetica, Arial, sans-serif;
    font-size: $s-size;
    background: $dark-blue;
}

button {
    cursor: pointer;
    
}

button:focus {outline:0;}

button:disabled {
    cursor: default;
}